#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todo-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.todo-item-task {
  display: block;
  padding: 16px;
  font-size: larger;
  cursor: pointer;
  margin: 0;
  width: 100%;
}
.todo-item-task:hover {
  background-color: blue;
  color: white;
}
.todo-item-done {
  text-decoration: line-through;
  background-color: limegreen;
  color: white;
}

.todo-item-delete {
  padding: 16px;
  visibility: hidden;
  cursor: pointer;
}

.todo-item-wrapper:hover .todo-item-delete {
  visibility: visible;
  border-right: 3px solid red;
  background-color: lightcoral;
}

.add-new-todo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-new-todo-input {
  padding: 16px;
  font-size: larger;
  width: 100%;
  border: none;
}

.add-new-todo-button {
  padding: 16px;
  font-size: larger;
  background-color: blue;
  color: white;
}
